.popup__container_whith-info {
  background-color: var(--light-color);
  display: flex;
  flex-direction: column;
  width: 430px;
  padding: 60px 36px;
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .popup__container_whith-info {
    width: calc(100% - 38px);
    padding: 50px 18px;
  }
}
