.input {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 13px;
  border: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.input:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 600px) {
  .input {
    padding-bottom: 10px;
    margin-bottom: 28px;
  }
}
