.header__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--light-color);
  text-decoration: none;
  transition: all 0.3s;
}

.header__link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 600px) {
  .header__link {
    font-size: 14px;
    line-height: 17px;
  }
}
