.header {
  width: 100%;
  min-height: 74px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 940px) {
  .header {
    /* width: calc(100% - 60px); */
    padding: 0 30px;
  }
}

@media screen and (max-width: 900px) {
  .header {
    min-height: 56px;
    /* padding: 0 30px; */
  }
}
